<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>template is wporking</title>
</head>
<body>
    <h1>welcome to text analyzer.</h1>
    <form action="analyze" method="get">
        <textarea name='text'></textarea><br>
        <input type="checkbox" name="removepunc">remove punctuations <br>
        <input type="checkbox" name="fullcaps"> uppercase <br>
        <input type="checkbox" name="newlineremover"> newline remover <br>
        <input type="checkbox" name="extraspaceremover"> extra space remover <br>
        <input type="checkbox" name="charcount"> counting the no of character <br>
        <button type="submit">analyze text</button>




    </form>
</body>
</html>